/*
*  Text & icons
*/
@font-face {
  font-family: "Ships";
  src: url("xwing-miniatures-ships.ttf");
}

@font-face {
  font-family: "Factions";
  src: url("xwing-miniatures.ttf");
}

.faction {
  font-family: "Factions";
  vertical-align: center;
  text-align: center;
}

.ship {
  font-family: "Ships";
  vertical-align: center;
  text-align: center;
}

.ship-name {
  font-family: "Audiowide";
  font-size: 2mm;
  text-align: center;
}

.upside-down {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(90deg);
}

.bottom-panel {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(270deg);
}

.rotate-left {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.rotate-right {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.panel-wrapper {
  white-space: nowrap;
}

table {
  vertical-align: middle;
  text-align: center;
  border-spacing: 0px;
}

td {
  overflow: hidden;
}

/*
*  Flaps
*/
.flap-fold {
  margin: 0px;
  padding: 0px;
  border-top-left-radius: 5mm;
  border-top-right-radius: 5mm;
}

.flap-top {
  height: 10mm;
}

.flap-side {
  width: 10mm;
}

.flap-left {
  margin: 0px;
  padding: 0px;
}

.flap-right {
  margin: 0px;
  padding: 0px;
}

/*
*  Cell highlighting and shading
*/
.glue {
  background: lightgray;
}

.fold-left {
  border-left: 0.5mm dashed gray;
}

.fold-right {
  border-right: 0.5mm dashed gray;
}

.fold-top {
  border-top: 0.5mm dashed gray;
}

.fold-bottom {
  border-bottom: 0.5mm dashed gray;
}

.cut-left {
  border-left: 0.5mm solid black;
}

.cut-bottom {
  border-bottom: 0.5mm solid black;
}

.cut-right {
  border-right: 0.5mm solid black;
}

.cut-top {
  border-top: 0.5mm solid black;
}

@media print {
  .fold-left {
    border-left: 0.5mm dashed lightgray;
  }

  .fold-right {
    border-right: 0.5mm dashed lightgray;
  }

  .fold-top {
    border-top: 0.5mm dashed lightgray;
  }

  .fold-bottom {
    border-bottom: 0.5mm dashed lightgray;
  }

  .cut-left {
    border-left: 0.5mm solid lightgray;
  }

  .cut-bottom {
    border-bottom: 0.5mm solid lightgray;
  }

  .cut-right {
    border-right: 0.5mm solid lightgray;
  }

  .cut-top {
    border-top: 0.5mm solid lightgray;
  }
}
