/* Fonts and printing */

@font-face {
  font-family: "Ships";
  src: url("xwing-miniatures-ships.ttf");
}

@font-face {
  font-family: "Icons";
  src: url("xwing-miniatures.ttf");
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  div {
    break-inside: avoid;
  }
}
